// NAVY //

$midnight-blue: #2C3E50;
$wet-asphalt: #34495E;

// BLUE //

$peter-river: #3498DB;
$belize-hole: #2980B9;

// GREEN //

$emerald: #2ECC71;
$nephritis: #27AE60;

// TEAL //

$turqoise: #1ABC9C;
$green-sea: #16A085;


// RED //

$alizarin: #E74C3C;
$pomegranate: #C0392B;

// LIGHT GREY //

$clouds: #ECF0F1;
$silver: #BDC3C7;

// DARK GREY //
$concrete: #95A5A6;
$asbestos: #7F8C8D;